<div>
    <p>Opcion Seleccionada: {{opcionSeleccionada}}</p>
    <select (change)="seleccionarOpcion($event)">
        <option value="opt1">Opción 1</option>
        <option value="opt2">Opción 2</option>
        <option value="opt3">Opción 3</option>
    </select>
    <div>
        Obtener valor del input:
        <input type="text" (input)="obtenerValorInput($event)">
        <p>Valor del {{valorDelInput}}</p>
    </div>
    <div>
        <p (mouseenter)="cambioColor($event)" (mouseleave)="backColor($event)">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>
