
<!-- 
<h1>Dentro de App Component</h1>

<app-formulario></app-formulario>
<contador></contador>
<app-eventos></app-eventos>
<app-contador-click></app-contador-click>
<galeria></galeria>
<app-datos-personales></app-datos-personales> -->

<!-- <profile-card [name]="nombres[0]" email="rodri@gmail.com" department="accounting"></profile-card>
<profile-card name="Lorena" email="lorena@gmail.com" department="accounting"></profile-card>
<profile-card name="Maria" email="maria@gmail.com" department="accounting"></profile-card> -->

<!-- Componente conomotro, cunata atras desde 0  
<cronometro inicio="10"></cronometro>
<cronometro inicio="34"></cronometro>
<cronometro inicio="7"></cronometro>

 - Crear el componente
 - Modificar el selector
 - Creo el input inicio
 - Realizar la cuenta hasta 0
 - Cunado llegue a 0 paramos
-->
<cronometro [inicio]="10"></cronometro>
<cronometro [inicio]="37"></cronometro>
<cronometro [inicio]="7"></cronometro>

<!-- Si el input le paso el valor literal no pongo corchetes -->
<!-- En cualquier otro caso, si es un string valor o numero hay que ponerlos-->