.contador-click {
    width: 200px;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid dodgerblue;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contador-click p {
    font-size: 6em;
}